.list-group :hover{
background-color:  #494e85 !important;
color: white;
}



@media (max-width: 999px) {

  .btn btn-link{
    padding: 0%;
  }
  .col-12{
    margin-left: 0%;
  }
  .col-3 {
    text-wrap: wrap;
  }

}