.list-group :hover{
background-color:  #494e85 !important;
color: white;
}



@media (max-width: 999px) {

  .btn btn-link{
    padding: 0%;
  }
  .col-12{
    margin-left: 0%;
  }
  .col-3 {
    text-wrap: wrap;
  }
  .list-group.text{

    text-wrap: wrap;
    margin-left: -20%;
    margin-right: -20%;
    margin-top: 0%;

  }
  .list-group-item{
    padding: 5%;
  }


}