<head><<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4794221243459744"
     crossorigin="anonymous"></script></head><div class ="col-12" style="text-align: center;">
<strong>CONTACT US</strong></div>
<div class="row backgroundImage"  style="height: 97vh; max-height: 100vh;overflow: auto; ">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <div class="col-12" style="overflow: auto;text-align: center"><br>

        <!-- <div class="col-3" style="margin-top: 5%;
                margin-bottom: 1%;
                text-align: center;
                font-style: normal;">
            <strong>CONTACT US</strong>
        </div> -->

        <div class="col-12" style="padding-left: 5%; text-align: center;
        font-style: italic;">
            <P> Address: Bengaluru, Karnataka 560049<br>
                Email:care@santoshitalfitness.life
            <br>

         </P>
            <br>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
        </div>
        



    </div>
</div>
