

<head><<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4794221243459744"
     crossorigin="anonymous"></script></head>
<div class="row " id="body-row" style="height: 97vh; max-height: 100vh;overflow: auto;">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <div class="image-dashbaord" style="overflow: auto;">
        <!-- <span style="color: aliceblue;padding-left: 4%;">{{currentDate | date:'yyyy-MM-dd'}} {{clock}}</span> -->

        <div class="col-12"  style="margin-top: 0%;
                margin-bottom: 1%;
                text-align: center;
                font-style:normal;
                background-color: white; padding: 5%;"
                 >
            <strong>Java full stack developer club welcome you, here we can learn about the topic we use to develop the web based application using java, springboot, microservices and angular etc.</strong></div>


        



    </div>
</div>
