<head><<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4794221243459744"
  crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</head>


<div *ngIf="_topic.corejava" class="col-12" style="text-align: left;height: 100%;">
<iframe src="https://docs.google.com/document/d/1ugeL9r3XB1NclS77Q1lKGCEssHsAPMHZ/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
width='100%' height='100%' frameborder="0"  style="border:none;" allowfullscreen companion-enabled companion-enabled>
</iframe>

</div>
<div *ngIf="_topic.thread" class="col-12" style="text-align: left;height: 100%;">
<iframe src="https://docs.google.com/document/d/10KqsQj8WhvVNmJHrft00ktq3l25Cpvzm/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
width='100%' height='100%' frameborder="0"  allowfullscreen companion-enabled >
</iframe>
</div>
<div *ngIf="_topic.string" class="col-12" style="text-align: left;height: 100%;">
<iframe src="https://docs.google.com/document/d/1V9zNB-yfl_i5fvDX3PJAErP-aw1DXLK-/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
width='100%' height='100%' frameborder="0"  allowfullscreen companion-enabled>
</iframe>
</div>
<div *ngIf="_topic.collection" class="col-12" style="text-align: left;height: 100%;">
<iframe src="https://docs.google.com/document/d/1xJpvLcYLFjzwzYxZmOQR4bJOM2qoCpx0/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
width='100%' height='100%' frameborder="0"  allowfullscreen companion-enabled>
</iframe>
</div>
<div *ngIf="_topic.java8" class="col-12" style="text-align: left;height: 100%;">
<!-- <ngx-doc-viewer
  url="https://drive.google.com/file/d/1vZ6eZojT7KkWM3GyEum7Vxl2Ih-gh8wI/preview"
  viewer="url"
  style="width:100%;height:90%;background-color: lightgrey;"
></ngx-doc-viewer> -->
<div *ngIf="_topic.java8" class="col-12" style="text-align: left;height: 100%;">
  <iframe src="https://docs.google.com/document/d/1hVmYhDbQ_6oac7sHRogUplWfozTF9gAZ/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
  width='100%' height='100%' frameborder="0"  allowfullscreen companion-enabled>
  </iframe>
 </div>
</div>
<div *ngIf="_topic.programming" class="col-12" style="text-align: left;height: 100%;">
 <iframe src="  https://docs.google.com/document/d/1pMX2Q0Lp0AA42cEfbqNrqQ1ACgfnYI2N/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
 width='100%' height='100%' frameborder="0"  allowfullscreen companion-enabled>
 </iframe>
</div>
<div *ngIf="_topic.QnA" class="col-12" style="text-align: left;height: 100%;">
 <iframe src="https://docs.google.com/document/d/1vqsoweWwi7PJ0ArGUv6Fly2Sbx89kyqy/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
 width='100%' height='100%' frameborder="0"  allowfullscreen companion-enabled>
 </iframe>
</div>
<div *ngIf="_topic.angular" class="col-12" style="text-align: left;height: 100%;">
 <iframe src="https://docs.google.com/document/d/1liaHwhSsAlSEsI1mmzDB841717OeVloJ/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
 width='100%' height='100%' frameborder="0"  allowfullscreen companion-enabled>
 </iframe>
</div>
<div *ngIf="_topic.design" class="col-12" style="text-align: left;height: 100%;">
 <iframe src="https://docs.google.com/document/d/1lfdY16vCmUVUvsn47_MR26g234iLQN5W/edit?usp=sharing&ouid=112265708161156464679&rtpof=true&sd=true" 
 width='100%' height='100%' frameborder="0"  allowfullscreen companion-enabled>
 </iframe>
</div>